.main-content {
  @apply flex flex-col flex-1 transition-all duration-300 ease-in-out;
  
  &.expanded {
    @apply ml-[250px];
  }
  
  &.collapsed {
    @apply ml-16;
  }
}

.page-content {
  @apply flex-1 p-5 md:px-10 bg-gray-50 overflow-y-auto;
  
  &.with-shadow {
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.05);
  }
}